@import "./scss/_variables";
@import "./scss/_mixins";

.wysiwigContent {
p {
  font-size: 15px;
  margin-bottom: 20px;
  font-weight: $font-regular;
  line-height: 30px;
  color: #575574;
}
  > *:last-child {
    margin-bottom: 0;
  }

  a {
    color: #2264d6;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  code {
    background-color: rgba(27, 31, 35, 0.07);
    border-radius: 6px;
    font-size: 95%;
    padding: 2px 4px;
  }

  ul, ol {
    font-size: 15px;
    color: #575574;
    line-height: 30px;
  }
}
